{% extends "base.html" %}

{% block content %}
<div class="main-container">
    <form method="post" class="todo-form">
        {% csrf_token %}
        {{ form.description }}
        <button class="submit-button">Add Todo</button>
    </form>
    <ul class="main-list-container">
        {% for todo in todos %}
            <li class="list {% if todo.is_done %} gray-background-two {% endif %}">
                {{ todo.description }}
                <div class="icons">
                    <a href="{% url 'toggle-todo' todo.id %}">
                        {% if todo.is_done %}
                            <i class="far fa-check-square"></i>
                        {% else %}
                            <i class="far fa-square"></i>
                        {% endif %}
                    </a>
                </div>
            </li>
        {% empty %}
            <li class="list gray-background">🥺 Sem to-do por enquanto.</li>
        {% endfor %}
    </ul>
</div>

<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page=1" class="pagination-link">
            <i class="fas fa-angle-double-left"></i> <!-- First Page Icon -->
        </a>
        <a href="?page={{ page_obj.previous_page_number }}" class="pagination-link">
            <i class="fas fa-angle-left"></i> <!-- Previous Page Icon -->
        </a>
    {% endif %}

    <span class="pagination-current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="pagination-link">
            <i class="fas fa-angle-right"></i> <!-- Next Page Icon -->
        </a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="pagination-link">
            <i class="fas fa-angle-double-right"></i> <!-- Last Page Icon -->
        </a>
    {% endif %}
</div>
{% endblock content %}
